body {
    background-color: lightblue;
}

#sin-div {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    width: 180px;
}

#sin-img {
    height: 40px;
}

#sin-input {
    font-size: 22px;
    height: 40px; width: 40px;
}

#sin-degree {
    font-size: 50px;
}