body {
    background-color: lightblue;
}

/* SIN */
#sin-div {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    width: 180px;
}

#sin-img {
    height: 40px;
}

#sin-input {
    font-size: 22px;
    height: 40px; width: 40px;
}

#sin-degree {
    font-size: 50px;
}

/* COS */
#cos-div {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    width: 180px;
}

#cos-img {
    height: 28px;
}

#cos-input {
    font-size: 22px;
    height: 40px; width: 40px;
}

#cos-degree {
    font-size: 50px;
}