body {
    background-color: lightblue;
}

#sin-div {
    display: flex;
    justify-content: center;
    right: 0; left: 0;
}

#sin-img {
    height: 40px;
}

#sin-input {
    height: 45px; width: 45px;
}

#sin-degree {
    
}